<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--当前会话默认的环境-->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="zh_CN"/>
    </bean>

    <!--绑定资源文件-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:/language"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


    <mvc:interceptors>
        <!--自定义拦截器，拦截参数为language的HTTP请求，重新设置区域化信息-->
        <!--        <bean class="com.ly.interceptor.InternationalInterceptor">-->
        <!--            <property name="paramName" value="language"/>-->
        <!--        </bean>-->
        <!--使用自带的拦截器-->
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="language"/>
        </bean>
    </mvc:interceptors>


</beans>